html,
body {
    background-color: white;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 18pt;
}

main{
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
section {
    display: table-cell;
    vertical-align: middle;
    
}

form{
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 500px;
    background-color: #333333;
    padding: 5%;
}

input{
    color: white;
    font-size: 20pt;
    height: 40px;
    border-style: none;
    background-color: #525252;
}

#input-field{
    width: 250px;
}

ul{
    padding: 0;
    list-style-type: none;
}
ul li{
    padding: 1%;
    font-size: 20pt;
    background-color: #73008c;
    cursor: pointer;
    height: 40px;
}

li:nth-child(odd) {
    background: #4b005c;
}