* {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    margin: auto;
}

h1 {
    font-size: 32pt;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #171717;
    z-index: -10;
}

canvas {
    display: block;
    vertical-align: bottom;
}

#registration-form {
    width: 25%;
    height: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

#registration-form h1,
input,
button {
    padding: 3%;
    color: #ff9800;
    border: none;
}

#registration-form button {
    margin-top: 50px;
    width: 184px;
    background-color: #151515;
    text-transform: uppercase;
    font-weight: bold;
}

#registration-form input {
    background-color: #151515;
}

::placeholder {
    color: #ff9800;
    opacity: 1;
}

.hoverable input:hover {
    background-color: #ff9800;
}